<!DOCTYPE html>
<html>
<head>
    <title>NBA Standings</title>
</head>
<body>
    <h1>NBA Standings</h1>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Team Name</th>
                <th>Conference</th>
            </tr>
        </thead>
        <tbody>
            {% for team in nba_standings %}
                <tr>
                    <td>{{ team.rank }}</td>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.conference }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
